<form action="/places" method="post">
  <label for="cityName">Add new location</label>
  <input id="cityName" name="cityName" type="text">
  @* <label for="time">Add new location</label>
  <input id="time" name="time" type="text">
  <label for="partySize">Add new location</label>
  <input id="partySize" name="partySize" type="text"> *@
  <button type="submit">Submit</button>
</form>