<form action="/places" method="post">
  <label for="cityName">input location</label>
  <input id="cityName" name="cityName" type="text">
  <label for="time">input time</label>
  <input id="time" name="time" type="text">
  <label for="partySize">input partySize</label>
  <input id="partySize" name="partySize" type="text">
  <button type="submit">Submit</button>
</form>